  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=auto');

 
  /* font-family: 'Poppins', sans-serif;*/
  


  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 4px;
    color:var(--primary-color);
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
  }
  ::-webkit-scrollbar-track {
    background: #101010; 
    border-radius: 4px;
    width: 4px;
  }

:root {
    --body-color: #ececec;
    --sidebar-color: #fff;
    --primary-color: #035aa6;
    --primary-color-light: #f7fcff;
    --toggle-color:#dddddd;
    --text-color:#3a3b3c;
    --date-color: red;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;

    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
}
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
      --blanco: #303030;
      --sombra-ppal: #242424;
      --sombra-sec: #3c3c3c;
      --borde-negro: #FFFFFF50;
    }
}


body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color-light: #101010 ;
    --toggle-color:  whitesmoke;
    --text-color: #ccc;
}

.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    z-index: 50;
    
}

.sidebar.close {
    width: 80px;
}

.sidebar li {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image, 
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.sidebar .icon {
    min-height: 60px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text, 
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
    
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    padding: 20px;
    
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .logo {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
}

.profesion {
    font-size: 18px;
    margin-top: -2px;
    display: block;
    color: var(--primary-color);
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 400px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 20%;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.body.dark .slidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    width: 100%;
    top: 20%;
}

.sidebar .menu {
    margin-top: 40px; 
 }

.sidebar li.search-box {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}
.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.sidebar li a {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

.sidebar li a:hover .icon, 
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.body.dark .sidebar li a:hover .icon, 
.body.dark .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
    
}

.mode .sun-moon i.sun {
    opacity: 0;
    
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
    
}
body.dark .mode .sun-moon i.moon {
    opacity: 0;
    
}

.menu-bar .bootom-content .toggle-switch {
    position: absolute;
    right: -5px;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 25px;
    width: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 20%;
    left: 10px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
    -webkit-transition: var(--tran-04);
    -moz-transition: var(--tran-04);
    -ms-transition: var(--tran-04);
    -o-transition: var(--tran-04);
}

body.dark .switch::before {
    left: 30px;
}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}


.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}
.blog-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.blog-header{
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: var(--text-color);
    padding: 1em 2em;
    font-weight: 900;
}
.header-caption{
    padding: 10px;
    color: var(--primary-color);
    opacity: .9;
    font-size: 18px;
}

.blogs{
    height: auto;
    width: 70%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    -webkit-box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    
}
.blogs .img{
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: all .65s ease;
    position: relative;
}
.blog-date{
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 3px;
    transition: all .4s ease;
    width: 25%;
    height: auto;
}
.blogs .img img{
    height: 100%;
    width: 100%;
    transition: all .65s ease;
}


.blog-text{
  height: auto;
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-family: 'Poppins', sans-serif;
  color: var(--sidebar-color);
  background-color: var(--primary-color);
  transition: all .5s ease;
}
.blog-text h3{
  font-size: 20px;
  font-weight: 400;
  height: 15%;
  padding: 20px;
  letter-spacing: 1px;
}
.blog-text p{
    font-size: 18px;
    opacity: .9;
    font-weight: 200;
    height: 80%;
    padding: 20px;
    letter-spacing: 1px;
  }
.blogs:hover .img{
      transform: translateY(0%);
  }
.blogs:hover .blog-text{
    transform: translateY(0%);
}
.blogs a{
    text-decoration: none;
    color: whitesmoke;
}

.footer{
    background: var(--primary-color-light);
    width: 100%;
    padding: 40px;
    color: var(--text-color);
    display: flex;
    margin-top: 2.5em;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    
}


@media only screen and (max-width: 550px) {
    .sidebar {
        width: 100%;
        height: 100%;
    }
    .blogs{
        height: auto;
        width: 90%;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 15px;
    }
    .blogs .img{
        height: 80%;
        width: 100%;
        overflow: hidden;
        transition: all .65s ease;
        position: relative;
        margin-bottom: -6px;        
    }
    .blog-date{
        position: absolute;
        left: 0;
        bottom: 0;
        color: var(--sidebar-color);
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        padding: 3px;
        width: 35%;
        height: auto;
    }
    .blogs .img img{
        height: 100%;
        width: 100%;
        transition: all .65s ease;
        
    }
    .blog-text{
      height: auto;
      width: 100%;
      text-align: center;
      vertical-align: center;
      font-family: 'Poppins', sans-serif;
      color: var(--sidebar-color);
      background-color: var(--primary-color);
      transition: all .5s ease;
      margin-top: 6px;
    
    }
    .blog-text h3{
      font-size: 24px;
      font-weight: 200;
      height: 15%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .blog-text p{
        font-size: 15px;
        opacity: .9;
        font-weight: 200;
        height: 85%;
        padding: 20px;
        letter-spacing: 1px;
      }
    .blogs:hover .img{
          transform: translateY(-70%);
      }
    .blogs:hover .blog-text{
        transform: translateY(-70%);
    }
}
    
    
    
@media all and (max-width: 1025px) and (min-width: 551px){
    .blogs{
        height: auto;
        width: 75%;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 15px;
    }
    .blogs .img{
        height: 60%;
        width: 100%;
        overflow: hidden;
        transition: all .65s ease;
        position: relative;
        margin-bottom: -7px;
    }
    .blog-date{
        position: absolute;
        left: 0;
        bottom: 0;
        color: var(--sidebar-color);
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        padding: 3px;
        width: 35%;
        height: auto;
    }
    .blogs .img img{
        height: 100%;
        width: 100%;
        transition: all .65s ease;
    }
    .blog-text{
      height: auto;
      width: 100%;
      text-align: center;
      vertical-align: center;
      font-family: 'Poppins', sans-serif;
      color: var(--sidebar-color);
      background-color: var(--primary-color);
      padding: 10px;
      transition: all .5s ease;
    }
    .blog-text h3{
      font-size: 28px;
      font-weight: 200;
      height: 15%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .blog-text p{
        font-size: 17px;
        opacity: .9;
        font-weight: 200;
        height: 85%;
        padding: 20px;
        letter-spacing: 1px;
      }
    .blogs:hover .img{
          transform: translateY(0%);
      }
    .blogs:hover .blog-text{
        transform: translateY(0%);
    }
    
}

@media all and (max-width: 9000px) and (min-width: 1441px){
    .blogs{
        height: 320px;
        width: 30%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        
    }
    .blogs .img{
        height: 80%;
        width: 100%;
        overflow: hidden;
        transition: all .65s ease;
        position: relative;
        
    }
    .blog-date{
        position: absolute;
        left: 0;
        bottom: 0;
        color: var(--sidebar-color);
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        padding: 3px;
        width: 25%;
        height: auto;
    }
    .blogs .img img{
        height: 100%;
        width: 100%;
        transition: all .65s ease;
    }
    .blog-text{
      height: 80%;
      width: 100%;
      text-align: center;
      vertical-align: center;
      font-family: 'Poppins', sans-serif;
      color:  var(--sidebar-color);
      background-color: var(--primary-color);
      transition: all .5s ease;
    }
    .blog-text h3{
      font-size: 28px;
      font-weight: 500;
      height: 20%;
      padding: 20px;
      letter-spacing: 1px;
    }
    .blog-text p{
        font-size: 18px;
        opacity: .9;
        font-weight: 400;
        height: 80%;
        padding: 30px;
        letter-spacing: 1px;
      }
    .blogs:hover .img{
          transform: translateY(-70%);
      }
    .blogs:hover .blog-text{
        transform: translateY(-70%);
    }
}