* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 4px;
    color:#9c27b0;
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb {
    background:#9c27b0; 
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
  }
  ::-webkit-scrollbar-track {
    background: #101010; 
    border-radius: 4px;
    width: 4px;
  }
body {
    text-align: center;
    font-family: sans-serif;
}

ol {
    list-style: none;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar {
    display: flex;
    margin-right: 10px;

}
.logo {
    margin-left: 100px;
}

.logo img {
    width: 50px;
    
}

.logo:hover{
    transform: scale(110%);
    transition: 0.2;
    
}
.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}


.header {
    background: url(imagenes/header.webp) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
p {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    padding: 0 100px ;
    
}

p:hover{
    color: #9c27b0;
    cursor: pointer;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0 ;
    color: white;
    text-decoration: none;
    background: #9c27b0;
    
}
.btn:hover{
    background: none;
    transform: scale(110%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 50px;
    background: #1f1d1d;

}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    background: #9c27b0;
    margin: 1rem;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;

}

.price {
    background: url(imagenes/costos.webp) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}
.footer {
    width: auto;
    padding: 20px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #101010;
}

@media (max-width: 768px) {
    
    .title {
        margin-bottom: 0;
        font-size: 2.5rem;

    }
    p{
        font-size: 1.5rem;
    }
    .sau {
        height: 120vh;
    }
    .navbar {
        display: none;
    }
}