@import url(Normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*font-family: 'Roboto', sans-serif;*/

::-webkit-scrollbar{
    width: 4px;
    color:#69f1a1;
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb {
    background: #69f1a1; 
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
  }
  ::-webkit-scrollbar-track {
    background: #101010; 
    border-radius: 4px;
    width: 4px;
  }

body{
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
    background-color: black;
    padding: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: transform, 400ms;
    -webkit-transition: transform, 400ms;
    -moz-transition: transform, 400ms;
    -ms-transition: transform, 400ms;
    -o-transition: transform, 400ms;
}

.logo:hover{
    transform: rotate(-35deg) scale(110%);
    -webkit-transform: rotate(-35deg) scale(110%);
    -moz-transform: rotate(-35deg) scale(110%);
    -ms-transform: rotate(-35deg) scale(110%);
    -o-transform: rotate(-35deg) scale(110%);
}

ul{
    display: flex;
}

li{
    list-style: none;
    padding: 0px 20px;
}

li:hover {
    border-bottom: 1px solid #69f1a1 ;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: color, background, font-size 300ms;
    -webkit-transition: color, background, font-size 300ms;
    -moz-transition: color, background, font-size 300ms;
    -ms-transition: color, background, font-size 300ms;
    -o-transition: color, background, font-size 300ms;
    margin-left: 15px;
    padding: 10px 20px;
}

a:hover {
    color: #69f1a1;
    background-color: black;
    border-bottom: 1px solid #69f1a1;
    font-size: 17px;
}

.btn__header-register, .btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
    -webkit-transition: background, color, 300ms;
    -moz-transition: background, color, 300ms;
    -ms-transition: background, color, 300ms;
    -o-transition: background, color, 300ms;
}

.btn__header-register:hover, .btn__register-cover:hover {
    background-color: #69f1a1;
    color: black;
}

#icon_menu{
    display: none;
    color: black;
}

main{
    max-width: 1200px;
    height: calc(100vh + 800px );
    padding: 40px;
    margin: auto;
}

.cover {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p {
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500px;
    cursor: pointer;
    margin-left: 10px;
    transition: background, 300ms;
    -webkit-transition: background, 300ms;
    -moz-transition: background, 300ms;
    -ms-transition: background, 300ms;
    -o-transition: background, 300ms;
}

.btn__readMore-cover:hover{
    background: #e8e8e8;
    
}
.media__cover {
    width: 50%;
}

.media__cover video {
    width: 100%;
    margin-top: -40px;
}

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background-color: black;
    position: relative;
}

.banner__icon-heart{
    width: 35%;
    height: 100%;
}

#icon_heart{
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
    color: #e8e8e8;
    font-size: 22px;
    font-weight: 400;
}

.banner__text a {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
}

.banner__text a:hover{
    color: #69f1a1;
}

.banner__icon-fire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;

}

#icon__fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
}
.footer{
    background: #080808;
    width: 97.35%;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.footer:hover {
    color: #69f1a1;
    
}