.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  




    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .container-notification{
    display: flex;
  }
  .notification {
    color: whitesmoke;
    width: 100px;
    transform-origin: 100 100;
    animation: ring 5s 0.8s ease-in-out infinite;
    
  }
  .material-icons {
    font-size: 55px;
    
  }

  .notification .count {
    --size: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border-radius: 100%;
    color: white;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    position: relative;
    top: 25px;
    z-index: 1000;
    
  }

  @keyframes ring {
    0%{
        transform: rotate(0deg);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(30deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0);
    }

  }

  
  