.comments-container{
    width: 800px;
    margin: 100px auto;
    margin-bottom: 1rem;
    color: #fff;
}

.comments-container > .comment {
    margin-bottom: 1em;
}


.comments-container .comment .line {
    position: relative;
    width: 10px;
    height: 50%;
    border-left: solid 1px darkblue;
    border-bottom: solid 1px darkblue;
    border-radius: 0 0 0 8px;
}

.comments-container .comment .comment-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.comments-container .comment .comment-wrapper .content {
    width: 100%;
    display: flex;
    border: solid 1px #558bff;
    padding: 1em;
    border-radius: 3px;
    background-color: rgb(24, 43, 80);
}
.comments-container .comment .comment-wrapper .content img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.comments-container .comment .comment-wrapper .content .comment-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comments-container .comment .comment-wrapper .content .comment-info .header .username {
    font-weight: bold;   
}

.comments-container .comment .comment-wrapper .content .comment-info .header .date {
    color: #999;
}
.comments-container .comment .comment-wrapper .content .comment-info .actions {
    display: flex;
    gap: 5px;

}
.comments-container .comment .comment-wrapper .content .comment-info .actions button{
    border: none;
    background-color: transparent;
    color: #558bff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.comments-container .comment .comment-wrapper .content .comment-info .actions button:hover {
    color: #fff;
    background-color: #558bff;
}
.comments-container .comment .replies {
    padding-top: 10px;
    position: relative;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comments-container .comment .replies::before {
    content: "";
    position: absolute;
    background-color: #558bff;
    width: 1px;
    top: 0;
    height: calc(100% - 53px);
}

