.progressbar-container {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    fill: white;
    color: white;
}

.progressbar-container .outer-box{
    border-radius: 50%;
    background-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar-container .inner-box{
    background-color: black;
    font-size: 25px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar-container svg {
    position: absolute;
}

.progressbar-container circle {
    fill: none;
    stroke: url(#gradientColor);
    stroke-width: 20px;
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: loading 10s linear forwards;
}

@keyframes loading {
    100% {
        stroke-dashoffset: 0;
    }   
}